@import "tailwindcss";
@plugin "daisyui";

/* Completely hide scrollbar and arrows */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
